version: "3"

services:
  server:
    build: server/
    container_name: journal-server
    command: npm start
    ports:
      - 3000:3000
    network_mode: host
    depends_on:
      - postgres
    
  postgres:
    image: postgres:latest
    container_name: journal-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: journal
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=suvorov.matvej9@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=motik0511
    ports:
      - 5050:80
    depends_on:
      - postgres
    network_mode: host


volumes:
  pgdata:
    driver: local